<div class="footer">
    <div class="cajaFooter">
        <div class="socursales">
            <ul style="list-style: none;">
                <p><b> Socursales</b></p>
                <li>Av. San Martín 1832, Morón</li>
                <li>Av. Rivadavia 19234, Ituzaingó</li>
                <li>Av. Callao 1234, Recoleta CABA</li>
            </ul>
        </div>

        <div class="text-end contacto">
            <ul style="list-style: none;">
                <p><b>Contacto</b></p>
                <li>Teléfono: 01156897634</li>
                <li>Email: almacenMuebles@hotmail.com</li>
            </ul>
        </div>
    </div>
    <br>
    <div class="Creditos">Sitio Desarrollado por MATÍAS TABERNER</div>
</div>