<div class="containerNosotros">
    <div class="nosotros">
        <div class="imagenNosotros">
            <img src="../../../assets/img/nosotros.jpg" alt="">
        </div>
        <div class="textNosotros">
            <p><b>Sobre Nosotros</b></p>
            <p>En Almacen de Muebles nos destacamos por realizar diseños únicos y exclusivos producidos en nuestra fábrica. 

                Contamos con 27 años de experiencia, conoce toda la variedad de productos que tenemos para ofrecerte.
                
                Nuestra fábrica ha producido más de 40.000 sillones a lo largo de estos 30 años. Los modelos vistos en nuestra tienda son diseñados por nuestro equipo y fabricado en nuestras instalaciones.
                
                Nuestra meta es lograr clientes felices con un producto de excelente calidad y a un precio único en el mercado ya que ademas al ser fabricantes podemos proporcionar productos personalizados y a costos accesibles.</p>
        </div>
    </div>
</div>