<div class="homeInicio">
  <div class="cajaBienvenida">
    <p class="bienvenidos">¡Bienvenido a nuestra Tienda!</p>
    <p class="textBienvenida">Encontrá acá los mejores muebles para tu hogar</p>
  </div>
</div>

<div class="homeProductos">
  <div class="contenedorBuscar">
    <mat-form-field class="example-input">
      <mat-label style="font-family: 'Quicksand', sans-serif;">Buscar Producto</mat-label>
      <input matInput type="text" [(ngModel)]="nombreProducto" (change)="obtenerProductos()" class="barraBuscar">
      <button *ngIf="nombreProducto" matSuffix mat-icon-button aria-label="Clear" class="close"
        (click)="nombreProducto=''">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
  </div>
  <mat-grid-list cols="2" rowHeight="350px">
    <mat-grid-tile *ngFor="let producto of productos | async">
      <app-producto [data]="producto" class="producto"></app-producto></mat-grid-tile>
  </mat-grid-list>
</div>

<div class="homeMensaje">
  <form [formGroup]="myForm" (ngSubmit)="contacto()" class="mensaje" style="font-family: 'Quicksand', sans-serif;">
    <mat-card class="shipping-card">
      <mat-card-header>
        <mat-card-title> <b> Dejanos tu Mensaje!  </b></mat-card-title>
      </mat-card-header>
      <br>
      <mat-card-content>
        <div class="row">
          <div class="col">
            <mat-form-field class="full-width">
              <mat-label>Empresa</mat-label>
              <input matInput type="text" formControlName="empresa" [ngClass]="{
                error:
                  myForm.get('empresa')?.hasError('required') &&
                  myForm.get('empresa')?.dirty
                }">
            </mat-form-field>
            <div *ngIf="myForm.get('empresa')?.errors && myForm.get('empresa')?.dirty">
              <p *ngIf="myForm.get('empresa')?.hasError('required')" class="textError">
                El campo es obligatorio
              </p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <mat-form-field class="full-width">
              <mat-label>Nombres</mat-label>
              <input matInput type="text" formControlName="nombres" [ngClass]="{
                error:
                  myForm.get('nombres')?.hasError('required') &&
                  myForm.get('nombres')?.dirty
                }" />
              </mat-form-field>
              <div *ngIf="myForm.get('nombres')?.errors && myForm.get('nombres')?.dirty">
                <p *ngIf="myForm.get('nombres')?.hasError('required')" class="textError">
                  El campo es obligatorio
                </p>
              </div>
          </div>
          <div class="col">
            <mat-form-field class="full-width">
              <mat-label>Apellidos</mat-label>
              <input matInput type="text" formControlName="apellidos" [ngClass]="{
                error:
                  myForm.get('apellidos')?.hasError('required') &&
                  myForm.get('apellidos')?.dirty
                }" />
              </mat-form-field>
  
              <div *ngIf="myForm.get('apellidos')?.errors && myForm.get('apellidos')?.dirty">
                <p *ngIf="myForm.get('apellidos')?.hasError('required')" class="textError">
                  El campo es obligatorio
                </p>
              </div>
          </div>
        </div>
        <div class="row">
          <div class="col email">
            <mat-form-field class="full-width">
              <mat-label>Email</mat-label>
              <input matInput type="email" formControlName="email" [ngClass]="{
              error:
                myForm.get('email')?.hasError('required') &&
                myForm.get('email')?.dirty
              }" />
            </mat-form-field>

            <div *ngIf="myForm.get('email')?.errors && myForm.get('email')?.dirty">
              <p *ngIf="myForm.get('email')?.hasError('required')" class="textError">
                El campo es obligatorio
              </p>
            </div>
          </div>
          <div class="col ">
            <mat-form-field class="full-width">
              <mat-label>Telephone</mat-label>
              <span matPrefix>+54 &nbsp;</span>
              <input type="tel" matInput placeholder="555-555-1234" formControlName="telefono" [ngClass]="{
                error:
                  myForm.get('telefono')?.hasError('required') &&
                  myForm.get('telefono')?.dirty
                }" />
              <mat-icon matSuffix>mode_edit</mat-icon>
            </mat-form-field>
            <div *ngIf="myForm.get('telefono')?.errors && myForm.get('telefono')?.dirty">
              <p *ngIf="myForm.get('telefono')?.hasError('required')" class="textError">
                El campo es obligatorio
              </p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <mat-form-field class="full-width">
              <mat-label>Mensaje</mat-label>
              <textarea matInput type="text" formControlName="mensaje" [ngClass]="{
                error:
                  myForm.get('mensaje')?.hasError('required') &&
                  myForm.get('mensaje')?.dirty
                }"></textarea>
              </mat-form-field>
              <div *ngIf="myForm.get('mensaje')?.errors && myForm.get('mensaje')?.dirty">
                <p *ngIf="myForm.get('mensaje')?.hasError('required')" class="textError">
                  El campo es obligatorio
                </p>
              </div>
          </div>
        </div>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary"
        [disabled]="myForm.invalid" type="submit" >ENVIAR</button>
      </mat-card-actions>
    </mat-card>
  </form>
</div>

